* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}

body {

  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: stretch; */
  min-height: 100vh; 
  background-image: url('https://i.pinimg.com/1200x/13/03/1e/13031e320d240e00ceb552ad36915be2.jpg');  
  /* background-position: center;   */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed;  */
  /* background-size:cover; */
  flex-direction: column;
  
}

.brand-heading {
  text-align: center;
  font-size: 4rem;
  font-weight:bold;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #e292ca;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 0;
  font-family: 'Freckle Face', cursive;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

#calendar {
  margin-bottom: 30px;
  background-color: #f5b1b1;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.container{
  background-color: #ffffff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  width: 500px;
}



h1 { 
  font-size: 2.2rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: #1a73e8;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 500s;
  color: #1a73e8;
  text-align: center;

}

.input-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 12px;
  font-size: 1 rem;
  border-radius: 8px;
  border:2px solid #1a73e8;
  outline: none;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px #0056b3;
}

button{
  padding: 25px 20 px;
  background-color: #1a73e8;
  color: #fff;
  border: 10px;
  border-radius: 4px;
  font-size: 1.3rem;
  cursor: pointer;
  margin: 5px;
  transition: 0.3s;
}

button :hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}


li {
  display:flex;
  padding:12px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed #ccc;
}

li button {
  background-color: transparent;
  color: #ea4335;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.3s;
}

li button:hover {
  color: #0c661b;
}

li .remove-btn {
  background-color: #ea4335;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5 px 10 px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.3s;
}

li .remove-btn:hover {
  background-color: #b71c2c;
}

.penguin-icon {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 176px;      
  height: auto;
  z-index: 1000;    
  cursor: pointer;  
  border-radius: 200px;
}

.penguin-icon:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}


.complete {
  text-decoration: line-through;
  color:#6c757d;
}